{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <dl>
        <dt>Title:
        <dd><input type="text" size="30" name="title">
        <dt>Text:
        <dd><textarea name="text" rows="5" cols="40"></textarea>
        <dd><input type="submit" value="Share">
      </dl>
    </form>
  {% endif %}
  <ul class="entries">
      <li>
          <h2>上传文件列表</h2>
          <ul>
            {% for file in files %}
                <li>{{ file }}</li>
              {% else %}
                <li><em>Unbelievable.  No files here so far</em></li>
              {% endfor %}
          </ul>
      </li>
  </ul>
{% endblock %}
